@font-face {
    font-family:Medium ;
    src: url(font/OpenSans_Condensed-Medium.ttf);
}
@font-face {
    font-family:Regular;
    src: url(font/OpenSans_Condensed-Regular.ttf)
}
@font-face {
    font-family:SemiBold;
    src: url(font/OpenSans_Condensed-SemiBold.ttf)
}
@font-face {
    font-family:Bold;
    src: url(font/OpenSans_SemiCondensed-Bold.ttf)
}
@font-face {
    font-family:ExtraBold;
    src: url(font/OpenSans_SemiCondensed-ExtraBold.ttf)
}
@font-face {
    font-family:Light;
    src: url(font/OpenSans_SemiCondensed-Light.ttf)
}
@font-face {
    font-family:VariableFont;
    src: url(font/OpenSans-VariableFont_wdth\,wght.ttf)
}
/* Global a tag start */
#read-more a{
    text-decoration: none;
    color:  #000;
    font-family:SemiBold;
    font-size: 20px;
}
#read-more{
    background-color: #FFCD02;
    border: none;
    padding: 4px 0px 4px 0px;
    width: 33%;
}
/* Global a tag End */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* navbar Start */
.logo-toggle img{
    display: none;
}
.navbar{
    padding: 0px 30px 0px 50px;
}
nav{
    background-color: black;
    width: 100%;
    top: 40px;
    padding: 0px 40px 0px 70px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    font-family:VariableFont;
}
.navbar-home ul{
    display: flex;
}
.nav-logo{
    position: relative;
}
.nav-logo::before{
    content: "";
    position: absolute;
    background-image: url(img/logo\ \(2\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -48px;
    left: 0px;
    width: 190px;
    height: 159px;
}
.navbar-about{
    width: 100%;
}
#nav-Services{
    padding: 0px 100px 0px 100px;
}
#nav-Media{
    padding: 0px 100px 0px 100px;
}
.ul-nav{
    display: flex;
    padding-top: 10px;
}
.project-ul-nav{
    padding-top: 10px;
}
.nav-ul{
    padding-top: 10px;
}
.ul-nav-project{
    display: flex;
    padding-top: 10px;
}
/* navbar End */
/* Section start banar */
.welcome-to {
    background: rgb(118, 68, 75) url(img/civil-engineer.png);
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 250px;
    padding-bottom: 200px;
    margin-bottom: 100px;
}
.welcome-to h1{
     font-family:ExtraBold;
     font-size: 80px;
     color: #FFFFFF;
}
.welcome-to h2{
     font-family:ExtraBold;
     font-size: 50px;
     color: #FFFFFF;
}
#welcome-to-read-more img{
    width: 17px;
    height: 17px;
     margin-bottom: 5px;    
    margin-left: 18px;
}
#welcome-to-read-more a{
    text-decoration: none;
    color:  #000;
    font-family:SemiBold;
    font-size: 20px;
}
#welcome-to-read-more{
    background-color: #FFCD02;
    border: none;
    padding: 4px 0px 4px 0px;
    width: 18%;
}
/* Section end banar */
/* Section Start Card  */
.Card h4{
    color: #500105;
    font-family:Bold;
    font-size: 20px;
}
.Card h3{
    font-family:Light;
}
.Card h5{
    color: #500105;
    font-family:ExtraBold;
    font-size: 30px;
    padding-bottom: 30px;
}
.Card p{
    font-family:Regular;
    font-size: 20px;
}
#Card-read-more {
    background-color: #FFCD02;
    border: none;
    padding: 4px 0px 4px 0px;
   width: 75%;
}
#Card-read-more a {
    text-decoration: none;
    color: #000;
    font-family: SemiBold;
    font-size: 20px;
}
#Card-read-more img{
    width: 17px;
    height: 17px;
    margin-bottom: 5px;
    margin-left: 18px;
}
.removebg-preview2 img{
    width: 140px;
    height: 134px;
}
#line{
    border: 2px solid #FFCD02;
    border-radius: 10px;
    width: 30%;
}
/* Section end Card  */
/* Section Start KEY POINTS ABOUT COMPANY  */
.key-point-bg::before{
    content: "";
    position: absolute;
    background-image: url(img/background\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 690px;
    left: 0;
    height: 682px;
}
.key-point-bg::after{
    content: "";
    position: absolute;
    background:#F1F1F1;
    width: 100%;
    left: 0;
    bottom: -10px;
    height: 74%;
    z-index: -1;
}
.key-point-bg{
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}
#key-point-background img{
    display: none;
}
.key-point-bg img{
    width: 10%;
    margin-bottom: 5px;
    margin-left: 18px;
}
.key-point-bg h4{
     color: #500105;
    font-family:ExtraBold;
    font-size: 40px;
}
.key-point-about p{
    padding-top: 15px;
    padding-bottom: 15px;
}
.key-point-bg h3{
    font-family:Light;
    font-size: 40px;
}
.key-point-about{
    padding-top: 230px;
}
/* Section End KEY POINTS ABOUT COMPANY */
/* Section Start GALLERY RECENT WORK */
.recent-work{
    padding-top: 140px;
    justify-content: space-between;
}
.gallery-card{
    padding-top: 13px;
}
.recent-work h3{
    font-family:Light;
    font-size: 40px;
}
.recent-work h4{
     color: #500105;
    font-family:ExtraBold;
    font-size: 40px;
}
#Load-more{
    background-color: #FFCD02;
    border: none;
    padding: 4px 30px 4px 30px;
    margin-top: 65px;
    float: right;
}
#Load-more img {
    width: 17px;
    height: 17px;
    margin-bottom: 5px;
    margin-left: 18px;
}
#Load-more a {
    text-decoration: none;
    color: #000;
    font-family: SemiBold;
    font-size: 20px;
}
/* Section End GALLERY RECENT WORK */
/* Section start Icon */
.Icon{
    position: relative;
     background-blend-mode: darken;
      background: rgba(80, 1, 5, 0.8)url(img/Rectangle\ 8.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px 190px 200px;
    margin-top: 100px;
}
.icon-img img{
    padding-top: 25px;
}
.icon-logo-img img{
    padding-top: 25px;
}
.slider{
    position: relative;
}
.slider h3{
    font-family:Light;
    font-size: 40px;
}
.slider h4{
       color: #500105;
    font-family:ExtraBold;
    font-size: 40px;
}
.slider h5{
     font-family:Bold;
    font-size: 20px;
}
.slider::before{
    content: "";
    position: absolute;
    top: 74px;
    left: 5%;
    width: 80%;
    height: 420px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 30px -10px #808080;
}
#carouselExampleControls{
       width: 61%;
    margin-left: 93px;
}
.carousel-inner img{
    height: 300px;
}
#slider-img{
    text-align: center;
 }
 .slid {
    position: absolute;
    left: 10%;
    text-align: center;
    top: 117px;
}
#slider-img img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: 20px 0px 20px 0px ;
 }
/* Section End Icon */
/* Section Start RESPONSIVE DESIGN */
.responsive-img-design{
    background-image: url(img/image\ 11.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 400px;
    padding-bottom: 150px;
}
.text-with-img{
    position: relative;
    text-align: center;
    width: 76%;
    float: right;
    background-color: #FFCD02;
    padding-bottom: 230px;
    padding-top: 30px;
    border-radius: 0px 0px 100px 0px;
}
.text-with-img::before{
    content: "";
    position: absolute;
    bottom: -10px;
    right: 90px;
    width: 379px;
    height: 185px;
    background-image: url(img/image\ 10.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#text-with-contact {
    background-color: #000;
    border: none;
    padding: 4px 30px 4px 30px;
    margin-top: 10px;
}
#text-with-contact a {
    text-decoration: none;
    color: #FFFFFF;
    font-family:ExtraBold;
    font-size: 20px;
}
.text-with-img h3{
    font-family:Regular;
    font-size: 40px;
}
.text-with-img h4{
    color: #500105;
    font-family:ExtraBold;
    font-size: 40px;
}
.responsive-design h4{
    color: #500105;
    font-family:ExtraBold;
    font-size: 40px;
}
.design-responsive{
    padding-top: 80px;
}
#responsive-design-line {
    border: 3px solid #D9D9D9;
    margin: 9px 17px 17px 0px;
}
.responsive{
    justify-content: space-between;
}
/* Section End RESPONSIVE DESIGN */
/* Section Start PREMIUM CONSTRUCTION BUSINESS   */
.section-premium{
    background: rgba(0,0,0,0.8)url(img/Rectangle\ 8.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0px 70px 0px;
    position: relative;
    background-blend-mode: darken;
}
.section-premium h4{
    color: white;
    font-family:ExtraBold;
    font-size: 50px;
}
.number-with-text{
    justify-content: center;
}
.number-with-text h5{
    text-align: center;
    color: #FFFFFF;
    font-family:ExtraBold;
    font-size: 60px;
}
.number-with-text p{
    text-align: center;
    color: #FFFFFF;
    font-family:ExtraBold;
    font-size: 20px;
}
/* Section End PREMIUM CONSTRUCTION BUSINESS */
/* FORM Section Start */
form{
    padding: 100px 20px 100px 20px ;
}
form h4{
    color: #500105;
    font-family:ExtraBold;
    font-size: 40px;
    padding-bottom: 20px;
}
form h6{
    font-family:ExtraBold;
}
#form-line {
    border-radius: 10px;
    width: 0px;
    height: 212px;
    margin: 77px 20px 0px 20px;
    padding: 2px;
    background-color: #949494;
}
.form-border{
    padding: 50px 0px 50px 0px;
    box-shadow: 0px 0px 17px 1px #e0dddd;
    justify-content: space-around;
}
form input{
    width: 100%;
    border: 1px solid #8D8D8D;
    padding: 10px;
    border-radius: 3px;
}
#email{
    margin: 10px 0px 10px 0px;
}
textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #8D8D8D;
    padding: 10px;
    border-radius: 3px;
}
#Send-Messages {
    background-color: #FFCD02;
    border: none;
    padding: 4px 30px 4px 30px;
    margin-top: 20px;
    margin-left: -15px;
}
#Send-Messages a {
    text-decoration: none;
    color: #000;
    font-family: SemiBold;
    font-size: 20px;
} 
#Send-Messages img{
    width: 17px;
    height: 17px;
    margin-bottom: 5px;
    margin-left: 18px;
}
/* FORM Section End */
/* FOOTER Section Start */
footer{
    background-color: #500105;
    padding-bottom: 40px;
}
.footer-contant{
    justify-content: space-between;
}
footer p{
    color: #FFFFFF;
}
footer h6{
    color: #FFFFFF;
    font-family:Bold;
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 100px;
    text-transform: uppercase;
}
footer ul {
    list-style: none;
    padding-left: 0px;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}
.fa-solid{
    margin-right: 10px;
}
.footer-contact{
    padding-left:40px !important;
}
.footer-explore{
    padding-left: 50px !important;
}
.fa-brands {
    border: 6px solid white;
    background-color: #FFFFFF;
    border-radius: 100px;
    color: #500105;
    font-size: 25px;
    margin-left: 20px;
}
.footer-contact img{
     margin-right: 10px;
}
.footer-explore li{
    padding-top: 10px;
}
.footer-contact li{
    padding-top: 15px;
}
.footer-last{
    background: #250002;
    padding: 13px 0px 13px 0px;
}
.footer-last span{
    color: #FFFFFF;
   font-family:Regular;
   font-size: 14px;
}
#footer-line-contact{
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 30%;
}
#footer-line {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 38%;
}
#footer-logo{
    width: 250px;
    height: 250px;
}
/* FOOTER Section End */
@media (min-width:2560px){
    .ul-nav {
    justify-content: center;
    }
    .key-point-bg::after {
    bottom: -60px;
     }
    nav {
    padding: 0px 40px 0px 250px;
   }
    .section-premium h4 {
    font-size: 50px;
   }
   .text-with-img::before {
    right: 220px;
   }
   .design-responsive p{
    font-size: 20px;
   }
   .responsive-img-design {
    padding-bottom: 200px;
   }
   .recent-work{
    padding-bottom: 25px;
   }
   #Load-more {
    margin-top: 55px;
    }
    .key-point-bg::before{
        width: 789px;
   }
   .number-with-text {
    justify-content: space-between;
   }
}
@media (min-width:1920px){
    #nav-Services {
    padding: 0px 0px 0px 0px;
    }
    .ul-nav {
    justify-content: space-around;
   }
   .ul-nav-project {
    justify-content: space-around;
   }
   .nav-logo::before {
    left: 60px;
   }
   .key-point-bg::after {
    bottom: -60px;
   }
   .recent-work{
    padding-bottom: 20px;
   }
   #Load-more {
    margin-top: 55px;
    }
    .text-with-img::before {
    right: 220px;
   }
}
@media (max-width:1440px){
    #Load-more {
    margin-top: 49px;
    }
    .text-with-img::before {
   right: 178px;
   bottom: -30px;
    width: 340px;
    height: 213px;
   }
   .key-point-bg {
    padding-top: 100px;
   }
}
@media (max-width:1024px) {
    .key-point-bg::before {
    width: 475px;
    height: 475px;
   }
   .key-point-about {
    padding-top: 150px;
   }
    .key-point-bg {
    padding-bottom: 0px;
    }
    #nav-Services {
    padding: 0px 60px 0px 60px;
   }
    #nav-Media {
    padding: 0px 60px 0px 60px;
     }
    .welcome-to {
    padding-bottom: 150px;
    margin-bottom: 80px;
    }
    .slid {
    left: 7%;
   }
}
@media (max-width:991px){
    .logo-toggle img {
        display: block;
        width: 135px;
        padding-left: 20px;
    }
     .logo-toggle{
    display: flex;
    width: 100%;
    justify-content:space-between
     }
     .navbar-toggler{
        height: fit-content;
        margin-right: 20px;
        margin-top: 20px;
     }
        .navbar {
        background: #FFFFFF;
    }
        .navbar {
        background: #FFFFFF;
    }
    .nav-logo::before {
        display: none;
    }
        #nav-Services {
        padding: 20px 0px 20px 0px;
    }
        nav {
        background-color: #f7efef;
        top: 0px;
        padding: 0px 0px 0px 0px;
    }
    .ul-nav {
    display: block;
    }
    nav li a {
    color: #000;
     }
    #nav-Media {
        padding: 20px 0px 20px 0px;
    }
        .ul-nav-project {
        display: block;
        padding: 0px 0px 31px 30px;
    }
}
@media (max-width:768px) {
    .key-point-bg::after {
    bottom: -20px;
    }
    .slid {
    top: 70px;
    left: 7%;
   }
    .slider::before {
    top: 48px;
    height: 395px;
    left: -3%;
    width: 100%;
   }
        .key-point-bg::before {
        width: 417px;
        height: 380px;
    }
#nav-Services {
    padding: 16px 0px 16px 0px;
    }
        #nav-Media {
        padding: 16px 0px 16px 0px;
    }
    .project-ul-nav {
    padding-top: 0px;
    }
.welcome-to h1 {
    font-size: 60px;
}
.welcome-to h2 {
    font-size: 30px;
}
#Load-more {
    margin-top: 54px;
     margin-right: -14px;
}
.Icon {
    margin-top: 50px;
    padding: 70px 0px 150px 68px;
}
.icon-logo-img img{
    padding-top: 54px;
}
.icon-img-logo img {
        padding-top: 30px;
}
.responsive-design h4 {
    font-size: 25px;
}
.text-with-img {
    width: 90%;
        padding-bottom: 219px;
}
.section-premium h4 {
    font-size: 40px;
}
.fa-brands {
    border: 6px solid white;
    font-size: 24px;
    margin-left: 14px;
}
form h4 {
    font-size: 30px;
}
.footer-explore {
    padding-left: 71px;
}
footer h6 {
    padding-top: 34px;
}
.footer-contact {
    padding-left: 18px !important;
}
.key-point-about p {
    padding-bottom: 0px;
}
    .key-point-about {
        padding-top: 130px;
        padding-left: 50px;
    }
        .key-point-about {
        padding-top: 80px;
    }  
     .key-point-bg h4 {
        font-size: 24px;
    }
  #read-more {
    width: 174px;
    display: flex;
    justify-content: center;
}
#footer-line-contact {
    width: 28%;
}
#footer-line {
    width: 29%;
}
#read-more img {
           margin: 8px 0px 4px 10px;
}
.key-point-bg h3 {
    font-size: 35px;
}
.gallery-card img{
    width: 230px;
}
    .text-with-img::before {
        right: 75px;
        bottom: -14px;
        width: 327px;
        height: 171px;
    }
    .responsive-img-design {
    margin-top: 329px;
    }
}

@media (max-width:500px) {
    .key-point-bg::before {
        display: none;
   }
       .responsive-img-design {
        margin-top: 370px;
    }
    #key-point img{
    display: block;
   }
        .welcome-to h1 {
        font-size: 45px;
    }
        .welcome-to h2 {
        font-size: 20px;
    }
    .key-point-bg {
    padding-top: 70px;
    }
    .key-point-about {
        padding-top: 20px;
        padding-left: 0px;
    }
    .recent-work {
            padding: 50px 20px 0px 20px;
  }
      #Load-more {
        margin-top: 0px;
        margin-right: 0px;
    }
        .gallery-card img {
        width: 350px;
    }
    .d-flex {
    padding-top: 0px;
}
    #Load-more {
    float: left;
  }
    .recent-work h4 {
    font-size: 28px;
    }
    .Gallery-img img{
        margin: 15px 0px 15px 0px;
    }
        .Icon {
        padding: 70px 0px 150px 10px;
    }
    .design-responsive {
    padding-top: 30px;
     }
     .section-premium h4 {
    font-size: 23px;
    }
    #form-line {
        display: none;
    }
    .footer-explore {
    padding-left: 27px !important;
    }
    .text-with-img::before {
    bottom: -26px;
        width: 265px;
        margin-right: 0px;
    }
        .text-with-img {
        width: 76%;
    }
    #Send-Messages {
    margin-left: 0px;
    margin-bottom: 20px;
    }
    #footer-logo {
    width: 150px;
    height: 150px;
     }
         .text-with-img {
        width: 70%;
        padding-bottom: 200px;
    }
        .slider::before {
        top: 48px;
        height: 440px;
        left: 7%;
        width: 89%;
    }
        .slid {
        top: 70px;
        left: -3%;
    }
}
@media (max-width:320px){
    .recent-work h3 {
    font-family: Light;
    font-size: 33px;
    }
    #Load-more {
    padding: 4px 14px 4px 14px;
   }
   #read-more {
        justify-content: center;
    }
        #read-more img {
        margin: 7px 0px 5px 20px;
    }
    #Card-read-more {
    margin-left: 16px;
    }
       .recent-work h4 {
        font-size: 33px;
    }
        .text-with-img::before {
        bottom: -25px;
        width: 258px;
        margin-right: -36px;
    }
        .gallery-card img {
        width: 288px;
        margin-right: 10px;
        padding-left: 7px;
    }
        .recent-work {
        padding: 50px 20px 0px 7px;
    }
        .text-with-img {
        width: 76%;
    }
        .section-premium h4 {
        font-size: 16px;
    }
    .number-with-text h5 {
    font-size: 46px;
    }
    .number-with-text p {
    font-size: 16px;
   }
   .section-premium {
    padding: 50px 0px 50px 0px;
  }
  form {
    padding: 50px 20px 50px 20px;
  }
      form h4 {
        font-size: 27px;
    }
    .form-border {
    padding: 30px 0px 30px 0px;
   }
       .slid {
        left: -11%;
    }
    .slider h4 {
    font-size: 25px;
   }
   .Card p {
    padding: 0px 16px;
   }
   .Card h3 {
    padding-left: 16px;
   }
   .Card h5 {
    padding-bottom: 17px;
    padding-left: 16px;
   } 
    .welcome-to {
        margin-bottom: 40px;
    }
    .key-point-bg::after {
    bottom: -20px;
    height: 85%;
   }
   #key-point-background img{
      width: 100%;
    margin-bottom: 0px;
   }
   .key-point-bg img {
    margin-left: 0px;
    }
}